.special {
  max-width: $nav-width;
  margin: 56px auto 100px auto;
  .special-header {
    font-family: ProxThin;
    font-size: 30px;
    color: $site-black;
  }
  .special-underline {
    width: 200px;
    height: 2px;
    background-color: $site-black;
    margin-top: 8px;
  }
  .special-offers {
    width: 525px;
    height: 287px;
    // background-color: yellow;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .special-pic {
      width: 200px;
      height: 100%;
      // background-color: green;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .special-text {
      width: 290px;
      height: 100%;
      // background-color: green;
      position: relative;

      .special-offer-header {
        font-size: 30px;
        font-family: ProxThin;
        color: $site-black;
        span {
          font-size: 20px;
          font-family: ProxThin;
          color: #ff7d38;
        }
      }
      .special-offer-underline {
        width: 170px;
        height: 2px;
        background-color: $site-black;
        margin-top: 6px;
        margin-bottom: 20px;
      }
      .special-offer-text {
        font-size: 16px;
        font-family: Gill;
        color: $site-black;
      }
      .special-offer-button {
        width: 133px;
        height: 40px;
        background-color: $site-blue;
        font-family: Gill;
        font-size: 15px;
        color: $site-white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        cursor: pointer;
      }
    }
  }
}

@media all and (max-width: $home-form-width) {
  .special {
    width: 90%;
  }
}
